@model TheCarHubApp.Data.CarPhoto

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>CarPhoto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CarDetailId" class="control-label"></label>
                <select asp-for="CarDetailId" class="form-control" asp-items="ViewBag.CarDetailId"></select>
                <span asp-validation-for="CarDetailId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhotoTitle" class="control-label"></label>
                <input asp-for="PhotoTitle" class="form-control" />
                <span asp-validation-for="PhotoTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhotoFilePath" class="control-label"></label>
                <input asp-for="PhotoFilePath" class="form-control" />
                <span asp-validation-for="PhotoFilePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
